---
import ReportLayout from "../layouts/ReportLayout.astro";
---

<ReportLayout title="Prism A2Report">
  <p>Report archive. <a href="/test" class="text-primary underline">View test page</a>.</p>
</ReportLayout>
